<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>philmyy__shitt</title>
  <style>
    * {
      padding: 0;
      margin: 0;

    }

    .moviePoster {
      /* width: max-content;
      height: max-content; */
      padding-top: 20%;
    }

    section {
      top: 0;
    }

    .navbar h1 {
      color: white;
    }

    .navbar {
      display: flex;
    }

    .navbar ul {
      display: flex;
    }

    .navbar ul li {
      color: white;
      display: flex;
      align-items: flex-end;

    }

    .navbar {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      color: white;
    }

    .nav-links {
      display: flex;
      align-items: center;
    }

    .nav-links li {
      margin: 0 30px;
    }

    .ctn {
      color: white
    }

    .ctn:hover {

      color: #fc036b;
      box-shadow: 2px 2px 5px black;
    }

    li:hover {
      color: #fc036b;
      cursor: pointer;
    }
  </style>
</head>

<body style="background-color:rgb(0, 0, 0);"></body>

<body>
  <% baseUrl='https://image.tmdb.org/t/p/original' %>
    <nav class="navbar">
      <h1 class="logo">Philmy_Shitt</h1>
      <ul class="nav-links">
        <li class="ctn"><a href="/">Home</a></li>
        <li class="ctn"><a href="/cinema">Cinema</a></li>
        <li class="ctn"><a href="/community">Community</a></li>
        <li class="ctn"><a href="/contactus">About</a></li>
      </ul>
    </nav>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <% for (const movie of PopularBollyMovies) { %>
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full">
              <a class="block relative h-full rounded overflow-hidden" href="/movie/<%- movie.id %>">
                <img alt="movie" class="object-cover object-center w-full h-full block moviePoster" src=<%-baseUrl +
                  movie.poster_path %>>
              </a>
              <div class="mt-4">
                <h2 class="text-white-900 title-font text-lg font-medium"><%- movie.title %></h2>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </section>
</body>

</html>